@keyframes loaderAnimationToRight {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.defaultProp {
    background-size: 1500px 1000px !important;
    animation-fill-mode: forwards !important;
    animation-iteration-count: infinite !important;
}

.contentLoaderRight {
    animation-name: loaderAnimationToRight;
}